{% macro render_tcp_server(server) -%}
    server
{{ server.server_name }}
{{ server.address }}:{{ server.port }}
{% if server.check %}
check
inter {{ server.check.interval }}s
rise {{ server.check.rise }}
fall {{ server.check.fall }}
{% endif %}
{% if server.maxconn %}
maxconn {{ server.maxconn }}
{% endif %}
{%- endmacro %}

{% for endpoint in tcp_endpoints %}
frontend {{ endpoint.name }}
    mode tcp
    option tcplog
{% if endpoint.application_data.retry %}
    retries {{ endpoint.application_data.retry.count }}
{% if endpoint.application_data.retry.redispatch %}
    option redispatch
{% endif %}
{% endif %}
    bind [::]:{{ endpoint.application_data.port }} v4v6 {% if endpoint.application_data.tls_terminate %} ssl crt {{ haproxy_crt_dir }} {% endif +%}
{% if endpoint.application_data.enforce_tls %}
    tcp-request content accept if { req_ssl_hello_type 1 }
{% endif %}

{% if ddos_protection_config.client_timeout %}
    timeout client {{ ddos_protection_config.client_timeout }}
{% endif %}
{% if ddos_protection_config.has_rate_limiting %}
    tcp-request connection track-sc0 src table haproxy_peers/ddos_protection_ip
{% if ddos_protection_config.rate_limit_connections_per_minute %}
    tcp-request connection {{ ddos_protection_config.limit_policy_tcp }} if { conn_rate(0,haproxy_peers/ddos_protection_ip) gt {{ ddos_protection_config.rate_limit_connections_per_minute }} }
{% endif %}
{% if ddos_protection_config.concurrent_connections_limit %}
    tcp-request connection {{ ddos_protection_config.limit_policy_tcp }} if { conn_cur(0,haproxy_peers/ddos_protection_ip) gt {{ ddos_protection_config.concurrent_connections_limit }} }
{% endif %}
{% endif %}
{% if ddos_protection_config.ip_allow_list %}
    acl allowed_ips src -f {{ ip_allow_list_file }}
    http-request allow if allowed_ips
{% endif %}

{% if endpoint.application_data.sni %}
    acl sni_{{ endpoint.application_data.port }} {% if endpoint.application_data.tls_terminate %}ssl_fc_sni{% else %}req_ssl_sni{%endif%} -m str {{ endpoint.application_data.sni }}
    tcp-request content reject if !sni_{{ endpoint.application_data.port }}
{% endif %}

{% if endpoint.application_data.ip_deny_list %}
    acl {{ endpoint.name }}ip_deny_list src {% for deny_address in endpoint.application_data.ip_deny_list %}{{deny_address}} {% endfor +%}
    tcp-request content reject if {{ endpoint.name }}ip_deny_list
{% endif %}

    default_backend {{ endpoint.name }}

backend {{ endpoint.name }}
    mode tcp
{% if endpoint.application_data.load_balancing %}
    balance {{ endpoint.application_data.load_balancing.algorithm.value }}
{% if endpoint.application_data.load_balancing.consistent_hashing %}
    hash-type consistent
{% endif %}
{% endif %}
{% for option in endpoint.tcp_check_options %}
    {{ option }}
{% endfor %}

{% for server in endpoint.servers %}
    {{ render_tcp_server(server) | replace("\n", " ") }}
{% endfor %}
{% endfor %}
