/var/log/haproxy.log {
    daily
    rotate 7
    maxsize 1G
    {# All directives below are defaults from the HAProxy package's logrotate configuration. #}
    missingok
    notifempty
    compress
    delaycompress
    postrotate
        [ ! -x /usr/lib/rsyslog/rsyslog-rotate ] || /usr/lib/rsyslog/rsyslog-rotate
    endscript
}
