{% for spoe_auth_info in spoe_auth_info_list  %}
[spoe-auth-{{ spoe_auth_info.id }}]
    spoe-agent spoe-auth-agents
    messages {{ spoe_auth_info.message_name }}
    option var-prefix auth_{{ spoe_auth_info.id }}
    use-backend spop_auth_{{ spoe_auth_info.id }}

spoe-message {{ spoe_auth_info.message_name }}
    args arg_ssl=ssl_fc arg_host=req.hdr(Host) arg_pathq=pathq arg_cookie=req.cook({{ spoe_auth_info.cookie_name }})
    event {{ spoe_auth_info.event }} if { req.hdr(Host) -m str {{ spoe_auth_info.hostname }} }
{% endfor %}
