name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    uses:
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      provider: lxd
      juju-channel: 3/stable
      self-hosted-runner: true
      working-directory: ./haproxy-operator
      modules: |
        [
          "test_action.py",
          "test_actions.py",
          "test_charm.py",
          "test_config.py",
          "test_cos.py",
          "test_ha.py",
          "test_haproxy_route.py",
          "test_http_interface.py",
          "test_ingress.py",
          "test_ingress_per_unit.py",
          "test_haproxy_route_tcp.py"
        ]
      with-uv: true
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
  haproxy-spoe-auth-operator:
    name: Integration tests for the haproxy-spoe-auth-operator charm
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: '3/stable'
      provider: lxd
      self-hosted-runner: true
      working-directory: ./haproxy-spoe-auth-operator
      with-uv: True
      modules: '["test_charm.py",]'
  integration-tests-global:
    uses:
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      use-canonical-k8s: true
      provider: 'k8s'
      channel: '1.32-classic/stable'
      self-hosted-runner: true
      juju-channel: 3/stable
      modules: |
        [
          "test_oauth_spoe.py",
        ]
      with-uv: true
      pre-run-script: ./tests/integration/setup-integration-tests.sh
      tmate-debug: true
