name: Integration tests

on:
  pull_request:
  schedule:
  - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    strategy:
      matrix:
        charm:
          - name: haproxy-operator
            working-directory: ./haproxy-operator
            modules: |
              [
                "test_action.py",
                "test_actions.py",
                "test_charm.py",
                "test_config.py",
                "test_cos.py",
                "test_ha.py",
                "test_haproxy_route.py",
                "test_http_interface.py",
                "test_ingress.py",
                "test_ingress_per_unit.py",
                "test_haproxy_route_tcp.py"
              ]
          - name: haproxy-spoe-auth-operator
            working-directory: ./haproxy-spoe-auth-operator
            modules: '["test_charm.py"]'
          - name: haproxy-ddos-protection-configurator
            working-directory: ./haproxy-ddos-protection-configurator
            modules: '["test_charm.py"]'
    name: Integration tests for ${{ matrix.charm.name }}
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      provider: lxd
      juju-channel: 3/stable
      self-hosted-runner: true
      charmcraft-channel: latest/edge
      working-directory: ${{ matrix.charm.working-directory }}
      modules: ${{ matrix.charm.modules }}
      with-uv: true
  integration-tests-global:
    uses:
      canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      use-canonical-k8s: true
      provider: 'k8s'
      channel: '1.32-classic/stable'
      self-hosted-runner: true
      juju-channel: 3/stable
      modules: |
        [
          "test_oauth_spoe.py",
        ]
      with-uv: true
      pre-run-script: ./tests/integration/setup-integration-tests.sh
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
    - integration-tests
    - integration-tests-global
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
