name: Promote charm

on:
  schedule:
    - cron: 0 9 * * 1 # At 09:00 on Monday

jobs:
  promote-charm-candidate-to-stable:
    environment: release
    uses: canonical/operator-workflows/.github/workflows/promote_charm.yaml@main
    with:
      origin-channel: 2.8/candidate
      destination-channel: 2.8/stable
      working-directory: ./haproxy-operator
      base-channel: 24.04
      base-name: ubuntu
      base-architecture: amd64
    secrets:
      CHARMHUB_TOKEN:
        required: true

  promote-charm-edge-to-candidate:
    environment: release
    needs: [promote-charm-candidate-to-stable]
    uses: canonical/operator-workflows/.github/workflows/promote_charm.yaml@main
    with:
      origin-channel: 2.8/edge
      destination-channel: 2.8/candidate
      working-directory: ./haproxy-operator
      base-channel: 24.04
      base-name: ubuntu
      base-architecture: amd64
    secrets:
      CHARMHUB_TOKEN:
        required: true