name: Publish the haproxy-spoe-auth-operator charm to edge.

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - haproxy-spoe-auth-operator/**

jobs:
  publish-to-edge:
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      channel: latest/edge
      working-directory: ./haproxy-spoe-auth-operator
