name: Publish the haproxy-operator charm to edge

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-to-edge:
    strategy:
      matrix:
        working-directory: ['./haproxy-operator', './haproxy-spoe-auth-operator', './haproxy-ddos-protection-configurator']
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      channel: 2.8/edge
      working-directory: ${{ matrix.working-directory }}
