name: Publish the haproxy-operator charm to edge

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  publish-to-edge:
    strategy:
      matrix:
        configuration:
          [
            {
              working-directory: "./haproxy-operator",
              channel: "2.8/edge",
              tag-prefix: "haproxy",
            },
            {
              working-directory: "./haproxy-spoe-auth-operator",
              channel: "latest/edge",
              tag-prefix: "haproxy-spoe-auth",
            },
            {
              working-directory: "./haproxy-ddos-protection-configurator",
              channel: "latest/edge",
              tag-prefix: "haproxy-ddos-protection-configurator",
            },
          ]
    uses: canonical/operator-workflows/.github/workflows/publish_charm.yaml@main
    secrets: inherit
    with:
      channel: ${{ matrix.configuration.channel }}
      working-directory: ${{ matrix.configuration.working-directory }}
      tag-prefix: ${{ matrix.configuration.tag-prefix }}
