# Copyright 2025 Canonical Ltd.
# See LICENSE file for licensing details.

name: Terraform module tests

on:
  pull_request:

permissions:
  contents: read

jobs:
  test-terraform:
    name: Test Terraform with Juju
    runs-on: ubuntu-latest
    env:
      WORKING_DIR: 'terraform/tests'
    steps:
    - uses: actions/checkout@v5.0.1
    - name: Prepare juju tf provider environment
      run: |
        sudo snap install --classic concierge
        sudo concierge prepare -p machine
        sudo snap install --classic terraform
    - run: terraform init
      working-directory: ${{env.WORKING_DIR}}
    - run: juju add-model prod-haproxy-example
      working-directory: ${{env.WORKING_DIR}}
    - run: terraform plan -out=tfplan
      working-directory: ${{env.WORKING_DIR}}
    - run: |
        set -e  # Exit on error
        terraform test || { echo "Terraform test failed"; exit 1; }
      working-directory: ${{env.WORKING_DIR}}
