name: Tests

on:
  pull_request:

jobs:
  test:
    strategy:
      matrix:
        charm:
          - name: haproxy-operator
            working-directory: ./haproxy-operator
          - name: haproxy-spoe-auth-operator
            working-directory: ./haproxy-spoe-auth-operator
          - name: haproxy-ddos-protection-configurator
            working-directory: ./haproxy-ddos-protection-configurator
    name: Unit tests for ${{ matrix.charm.name }}
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-image: "noble"
      working-directory: ${{ matrix.charm.working-directory }}
      with-uv: true
